exportPattern("^[[:alpha:]]+")
import(lubridate)
import(readr)
import(tidyr)
import(dplyr)
import(jsonlite)
import(osmdata)
import(sp)
import(sf)
import(timetk)
import(ggplot2)
import(googlesheets4)
import(leaflet)
import(sensoRplot)
import(maps)
